<div id="container">
  <form>
      <div class="form-row form-group col-md-12 mb-3">
        <label for="currentPassword">Current Password</label>
        <input type="password" class="form-control" id="currentPassword" >
      </div>
      <div class="form-row form-group col-md-12 mb-3">
        <label for="formGroupExampleInput2">New Password</label>
        <input type="password" class="form-control" id="newPassword" >
      </div>
      <div class="form-row form-group col-md-12 mb-3">
        <label for="confirmPassword">Confirm Password</label>
        <input type="text" class="form-control" id="confirmPassword" >
      </div>
      <div class="form-row form-group col-md-12 mb-3">
        <button class="btn btn-primary form-control" id="changePassword">Change Password</button>
      </div>
  </form>
</div>