<form>
    <div class="row pt-5">
      <div class="col-md-6 mx-auto">
          <div class="card rounded-0">
            <div class="card-header">
                <div class="card-body">
                    <h3>Password change/Reset</h3>
                    <BR><BR>
                    Enter old Password
        <input name="password" [(ngModel)]="password-reset.password" type="password" 
        class="form-control "  required>
      </div>
      <br>
         
      <div class="col">
         Enter new Password
        <input name="password" [(ngModel)]="password-reset.password" type="password" class="form-control" required>
      </div>
      <br>
      <div class="col">
        Conform New Password
      <input name="password" [(ngModel)]="password-reset.password" type="password" class="form-control" required>
    </div>
      <br>
      <button class="btn btn-primary">ChangePassword</button>
    </div>
</div>
</div>
    </div>
  </form>
  