
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Help Request Form</title>
<style> 

</style>

</head>
<body>
    <h1><b>Help Request Form</b></h1><br>
    <div class="form-group">
   <p>
        <label>Help Types 
        <select id="pickup_place" name="pickup_place">
        <option value=" selected="selected>Select Help Option</option>
        <option value="Advice" >Advice</option>
        <option value="Material" >Material</option>
        <option value="Money" >Money</option>
        </select>
        </label> 
        <br> 
    
    <label>Help Title 
        <input type="text" name="Discription" maxlength="100"><br>
        <br>
        <label>DeadLine <br>
            <input type="date">
        <br>
        <br>
    


<label>Desciption  <br>
<textarea name="comments" style="width:280px; height:200px;"  ></textarea><br>

<button id="sbmt"(click)="afterForm()">SubmitRequest</button>

