.container {
  background-color: #f2f2f2;
  padding: 20px 20px 20px 20px;
  border: 5px solid lightgrey;
  border-radius: 10px;
  width: 60%;
}

.row {
  -ms-flex: 60%; /* IE10 */
  flex: 60%;
  padding: 16px 16px;
}


input[type=text] {
  width: 60%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

