.help {
    margin: auto;
    width: 70%;
    
    padding-left: 3%;
  }
  h4{
    display: flex;
    flex-direction: row;
  }
  h5{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }