<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                    <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" name="file"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <form [formGroup]="updateForm" (ngSubmit)="updateProfile()">
                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input formControlName="firstName" type="text" #first class="form-control is-invalid" id="firstName">
                                <small class="text-danger"> First name is required </small> 
                            </div>
                            <div class="form-group" [class.has-error]="lastNameControl.invalid && lastNameControl.touched">
                            <label for="lastName" class="control-lable"> Last Name </label>
                            <input formControlName="lastName" type="text" #last class="form-control is-invalid" id="lastName">
                            <small class="text-danger"> Last name is required </small>
                          </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input formControlName="email" [ngClass]="{'has-error': submitted && form.email.errors}" type="text" #last class="form-control is-invalid" id="Email"> 
                                <small class="text-danger"> Email is required </small>
                              </div>                         
                            <div [ngClass]="{'alert alert-danger': submitted && !isValid, 'alert alert-success': submitted && isValid}" role="alert">
                                {{message}}
                            </div>
                            <button class="btn btn-primary">Update</button>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </form>           
</div>
